PORT=3000
EMAIL_PROVIDER=api
EMAIL_API_URL=https://api.brevo.com/v3/smtp/email
EMAIL_API_KEY=COLOQUE_SUA_CHAVE_BREVO_AQUI
EMAIL_API_SENDER_EMAIL=seu-email-remetente@dominio.com
EMAIL_API_SENDER_NAME=Gestao de Gastos

# Opcional (se quiser usar SMTP no futuro)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_SENDER=
SMTP_USE_TLS=true
SMTP_REQUIRE_AUTH=true
