# SMTP para envio de OTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu_email@gmail.com
SMTP_PASSWORD=sua_senha_de_app
SMTP_SENDER=seu_email@gmail.com
SMTP_USE_TLS=true
SMTP_REQUIRE_AUTH=true

# Porta da aplicação
PORT=3000
